@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(64, 255, 0, 0.295);
  font-family: 'Roboto', sans-serif;
}
